#footer {
  padding-bottom: 20px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
#profile,
#more-info {
  padding-left: 30px;
}
.top-distance {
  margin-top: 20px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #9099a0;
  font-size: 16px;
  line-height: 1.5em;
}
p {
  text-align: justify;
}
.title {
  color: #3d3e42;
  font-size: 2em;
}
.subtitle {
  color: #6c9;
  font-size: 1.3em;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.text-body {
  margin-top: -10px;
}
.dark {
  color: #3d3e42;
}
.light-gray {
  color: #eee;
}
a.light-gray:link {
  color: #eee;
  text-decoration: none;
}
a.light-gray:visited {
  color: #eee;
  text-decoration: none;
}
a.light-gray:hover {
  color: #eee;
  text-decoration: underline;
}
a.light-gray:active {
  color: #eee;
  text-decoration: none;
}
a:link {
  color: #9099a0;
  text-decoration: none;
}
a:visited {
  color: #9099a0;
  text-decoration: none;
}
a:hover {
  color: #9099a0;
  text-decoration: underline;
}
a:active {
  color: #9099a0;
  text-decoration: none;
}
.list {
  padding: 0px;
}
.list li {
  list-style: none;
  padding-top: 4px;
}
.rounded-figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.more-info {
  background-color: #3d3e42;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: #4a4e51;
}
.bar-child {
  background-color: #6c9;
  height: 5px;
}
.bar .advanced {
  width: 100%;
}
.bar .intermediate {
  width: 80%;
}
.bar .basic {
  width: 38%;
}
.chart-detail i {
  color: #6c9;
}
.table-unbordered tbody tr td {
  border: none;
}
.table tbody tr td i {
  font-size: 25px;
}
.state-hidden {
  display: none;
}
.state-hidden-screen {
  display: none;
}
@media screen and (min-width: 768px) {
  .state-hidden {
    display: inline;
  }
  .state-hidden-screen {
    display: none;
  }
  .state-hidden-desktop {
    display: none;
  }
  .print {
    color: #3d3e42;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  .print:hover {
    cursor: pointer;
    color: #6c9;
  }
}
@media print {
  .state-hidden-screen {
    display: block;
  }
  .state-hidden-print {
    display: none;
  }
  .state-hidden {
    display: inline;
  }
  .state-bold-print {
    font-weight: bold;
  }
}
