<html>
    <head>
       <meta name="viewport" content="width=device-width"/>
       <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
       <link rel="stylesheet" href="/css/site.css"/>
       <title>Pedro Aquino | Developer</title>
    </head>
    <body>
       <div class="container-fluid" id="main">
          <div class="row">
             <section class="col-md-4" id="profile">
                <div class="row top-distance" id="header">
                   <div class="col-xs-10">
                       <img class="rounded-figure state-hidden-print" src="/img/5552879.jpg"/>
                    </div>
                   <div class="col-xs-2">
                       <i class="glyphicon glyphicon-print icon dark state-hidden-print" id="print"></i>
                    </div>
                   <div class="col-xs-9">
                      <h2 class="title">Pedro Aquino</h2>
                   </div>
                   <div class="col-xs-11">
                        <ul class="list italic">
                            <% disclaiMerList.forEach(function(item){ %>
                                <li> <%- item %> </li>
                            <% });  %>
                        </ul>
                   </div>
                </div>
                <div class="row state-hidden-print" id="disclaimer">
                   <div class="col-xs-11">
                      <h3 class="subtitle"> <%= aboutMe.title %> </h3>
                      <p class="disclaimer">
                          <%- aboutMe.content %>
                      </p>
                      <span class="bold dark state-hidden-desktop state-hidden-print" id="show">
                          <i class="glyphicon glyphicon-zoom-in"></i>&nbsp; <%- aboutMe.label %>
                      </span>
                   </div>
                </div>
             </section>
             <section class="more-info col-md-8" id="more-info">
                <div class="row top-distance" id="skills">
                   <div class="col-xs-11">
                      <h3 class="subtitle"><%= habilities.title%></h3>
                      <div class="state-hidden-print">
                        <% habilities.content.forEach(function(item){ %>
                            <div class="top-distance">
                                <%= item.topic %>
                                <br/>
                                <div class="bar">
                                    <div class="bar-child <%= item.level %>"></div>
                                </div>
                            </div>
                        <% }); %>
                      </div>
                   </div>
                   <div class="col-xs-11 state-hidden-screen top-distance">
                      <table class="table">
                            <% habilities.content.forEach(function(item){ %>
                                <tr>
                                    <td><%= item.topic %></td>
                                    <td><%= item.levelText %></td>
                                </tr>
                            <% }); %>
                      </table>
                   </div>
                </div>
                <div class="row" id="certifications">
                   <div class="col-xs-11">
                    <h3 class="subtitle"><%= certifications.title %></h3>
                    <div class="cert-group top-distance">
                        <% certifications.emitters.forEach(function(emitter){ %>
                            <div class="cert">
                                <p class="light-gray state-bold-print"><%= emitter.name %></p>
                                <ul class="list">
                                    <% emitter.certificates.forEach(function(certificate){ %>
                                        <li>
                                            <a class="state-hidden-print" href="<%= certificate.address %>" target="_blank"><%= certificate.title %></a>
                                            <a class="state-hidden-screen" href="<%= certificate.address %>" target="_blank"><%= certificate.title %></a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        <% }); %>
                    </div>
                   </div>
                </div>
                <div class="row" id="exps">
                   <div class="col-xs-11">
                      <h3 class="subtitle"><%= experiences.title %></h3>                  
                      <% experiences.workplaces.forEach(function(workplace){ %>
                      <div class="top-distance">
                            <a class="light-gray bold italic state-hidden-print" href="<%= workplace.address %>" target="_blank">
                                <%= workplace.name %>, <%= workplace.role %>
                            </a>
                            <a class="light-gray bold italic state-bold-print state-hidden-screen" href="#" target="_blank">
                                <%= workplace.name %>, <%= workplace.role %>
                            </a>
                            <p class="light-gray">
                                <%- workplace.periods.join(' e ') %> &nbsp;
                            </p>
                            <p>
                                <%= workplace.description %>
                                <span class="light-gray"><%= workplace.deliveries.title %>:</span>
                                <%= workplace.deliveries.items.join(', ') %>.
                            </p>
                            <p class="light-gray"><%= workplace.activities.title %></p>
                            <ul class="list text-body">
                                <% workplace.activities.items.forEach(function(activity){ %>
                                    <li><%= activity %></li>
                                <% }); %>
                            </ul>
                      </div>
                      <% }); %>
                   </div>
                </div>
                <div class="row" id="education">
                   <div class="col-xs-11">
                      <h3 class="subtitle"><%= education.title %></h3>
                      <div class="top-distance">
                        <% education.courses.forEach(function(course){ %>
                            <a class="light-gray state-hidden-print" href="<%= course.address %>" target="_blank"><%= course.institution %></a>
                            <a class="light-gray state-bold-print state-hidden-screen" href="#" target="_blank"><%= course.institution %></a>
                            <p><%= course.name %> - <%= course.status %></p>
                        <% }); %>
                      </div>
                   </div>
                </div>
                <div class="row" id="contact">
                   <div class="col-xs-11">
                      <h3 class="subtitle"><%= contact.title %></h3>
                      <div class="top-distance">
                         <table class="table table-unbordered">
                            <tr>
                               <td><i class="glyphicon <%= contact.phone.icon %>"></i></td>
                               <td class="light-gray"><%= contact.phone.number %></td>
                            </tr>
                            <tr>
                               <td><i class="glyphicon <%= contact.mail.icon %>"></i></td>
                               <td class="light-gray"><%= contact.mail.address %></td>
                            </tr>
                         </table>
                      </div>
                   </div>
                   <div class="col-xs-2 state-hidden-print">
                       <a class="light-gray" href="https://github.com/pedroAquino" target="_blank">GitHub</a>
                    </div>
                   <div class="col-xs-2 col-xs-offset-2 state-hidden-print">
                       <a class="light-gray" href="http://codepen.io/pedroAquino/" target="_blank">CodePen</a>
                    </div>
                   <div class="col-xs-2 col-xs-offset-2 state-hidden-print">
                       <a class="light-gray" href="#" target="_blank">Facebook</a>
                    </div>
                </div>
                <div class="light-gray state-hidden-print" id="footer">Copyright &copy; Pedro Aquino</div>
             </section>
          </div>
       </div>
       <script type="text/javascript" src="/jquery/jquery.min.js"></script>
       <script type="text/javascript" src="/js/disclaimer.js"></script>
       <script type="text/javascript" src="/js/print.js"></script>
       <input type="hidden" id="language" value="<%= language %>">
    </body>
 </html>