.state-hidden
	display: none
	
.state-hidden-screen
	display: none
	
@media screen and (min-width: 768px)
	.state-hidden
		display: inline
	
	.state-hidden-screen
		display: none
		
	.state-hidden-desktop
		display: none

	transition(p)
		transition-property: p
		transition-duration: .5s
		transition-timing-function: linear
		
	.icon
		color: dark 
		transition(color)

	.icon:hover
		cursor: pointer
		color: light-green
		
@media print
	.state-hidden-screen
		display: block
		
	.state-hidden-print
		display: none
		
	.state-hidden
		display: inline
		
	.state-bold-print
		font-weight: bold