
basic-font = 'Open Sans', sans-serif

dark = #3d3e42
custom-gray = #9099a0
light-green = #66cc99
light-gray = #eee
light-dark = #4a4e51

body
	font-family: basic-font
	color: custom-gray
	font-size: 16px
	line-height: 1.5em
	
p
	text-align: justify

.title
	color: dark
	font-size: 2.0em
	
.subtitle
	color: light-green
	font-size: 1.3em

.bold
	font-weight: bold

.italic
	font-style: italic

.text-body
	margin-top: -10px

.dark
	color: dark

.light-gray
	color: light-gray

link-state(c)
	color: c
	text-decoration: none

a.light-gray:link
	link-state(light-gray)

a.light-gray:visited
	link-state(light-gray)

a.light-gray:hover
	color: light-gray
	text-decoration: underline
	
a.light-gray:active
	link-state(light-gray)
	
a:link
	link-state(custom-gray)

a:visited
	link-state(custom-gray)

a:hover
	color: custom-gray
	text-decoration: underline
	
a:active
	link-state(custom-gray)

.list
	padding: 0px

.list li
	list-style: none
	padding-top: 4px
		
.rounded-figure
	width: 150px
	height: 150px
	border-radius: 50%
	
.more-info
	background-color: dark

.bar
	height: 5px
	width: 100%
	background-color: light-dark

.bar-child
	background-color: light-green
	height: 5px

.bar .advanced
	width: 100%

.bar .intermediate
	width: 80%
	
.bar .basic
	width: 38%
	
.chart-detail i
	color: light-green
	
.table-unbordered tbody tr td
	border: none

.table tbody tr td i
	font-size: 25px